FDItemWidget {
    background: #ffffff;
    border-radius: 15px;
}

FDItemWidget > QPushButton {
    width: 80px;
    height: 30px;
    background: aqua;
    border-radius: 15px;
    font-size: 12pt;
    font-weight: bold;
    color: whitesmoke;

}

FDItemImage {
    background: transparent;
}

FDItemWidget > QPushButton:hover:!pressed {
    background: aquamarine;
}

FDItemWidget > QLabel {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 14pt;
}

